<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JSON/YAML Editor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="openDeployment()">Open Deployment</a>
        </li>
        <li class="nav-item dropdown" *ngIf="deploymentService.current">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{deploymentService.current.name}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" *ngFor="let component of deploymentService.current.components" (click)="deploymentService.currentComponent = component">{{component.name}}</a></li>
            <li *ngIf="deploymentService.current.components?.length"><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="addComponent()">Add Component</a></li>
          </ul>
        </li>

        <!--
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded" *ngIf="deploymentService?.currentComponent?.schema">
    <h2>{{deploymentService.currentComponent.name}}</h2>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Fields</a>
        <ng-template ngbNavContent>
          <div *ngFor="let property of deploymentService.currentComponent.schema.properties | keyvalue">
            <app-property-wrapper [property]="property.value" [propertyName]="property.key" [schema]="deploymentService.currentComponent.schema" [parentObj]="deploymentService.currentComponent.instance"></app-property-wrapper>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>YAML</a>
        <ng-template ngbNavContent>
          <code>
            <pre>{{deploymentService.currentComponent.instance | yaml}}</pre>
          </code>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</main>
