<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JSON/YAML Editor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="openSchema(openSchemaModal)">Open Schema</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded" *ngIf="schema">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Fields</a>
        <ng-template ngbNavContent>
          <div *ngFor="let property of schema.properties | keyvalue">
            <app-property-wrapper [property]="property.value" [propertyName]="property.key" [schema]="schema" [parentObj]="instance"></app-property-wrapper>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>YAML</a>
        <ng-template ngbNavContent>
          <code>
            <pre>{{instance | yaml}}</pre>
          </code>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</main>

<ng-template #openSchemaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Open Schema</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <input class="form-control me-2" type="file" placeholder="JSON/YAML Schema" (change)="schemaUrl = null" #schemaFileInput />
    <input class="form-control me-2" type="string" placeholder="HTTP/S URL" [(ngModel)]="schemaUrl" (change)="schemaFileInput.value = null" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="ok(schemaFileInput.files, schemaUrl)">OK</button>
  </div>
</ng-template>
