<div *ngIf="parentObj" [ngSwitch]="property.type">
  <div *ngSwitchCase="'boolean'">
    <div class="form-group">
      <label title="{{propertyName}}">{{propertyNameDisplay}}</label>
      <span class="description" *ngIf="property.description">{{property.description}}</span>
      <select class="form-control boolean" [(ngModel)]="booleanValue">
        <option [value]="true">true</option>
        <option [value]="false">false</option>
      </select>
    </div>
  </div>
  <div *ngSwitchCase="'string'">
    <div class="form-group">
      <label title="{{propertyName}}">{{propertyNameDisplay}}</label>
      <span class="description" *ngIf="property.description">{{property.description}}</span>
      <input *ngIf="!configService.config?.fieldOptions[propertyName]" type="text" class="form-control string" [(ngModel)]="parentObj[propertyName]" />
      <select *ngIf="configService.config?.fieldOptions[propertyName]" [(ngModel)]="parentObj[propertyName]" class="form-control">
        <option *ngFor="let optionValue of configService.config?.fieldOptions[propertyName]">{{optionValue}}</option>
      </select>
    </div>
  </div>
  <div *ngSwitchCase="'integer'">
    <div class="form-group">
      <label title="{{propertyName}}">{{propertyNameDisplay}}</label>
      <span class="description" *ngIf="property.description">{{property.description}}</span>
      <input type="number" class="form-control number" [(ngModel)]="parentObj[propertyName]" />
    </div>
  </div>
  <div *ngSwitchCase="'number'">
    <div class="form-group">
      <label title="{{propertyName}}">{{propertyNameDisplay}}</label>
      <span class="description" *ngIf="property.description">{{property.description}}</span>
      <input type="number" class="form-control number" [(ngModel)]="parentObj[propertyName]" />
    </div>
  </div>
</div>

<div class="card" *ngIf="property.properties">
  <div class="card-header">
    <span title="{{propertyName}}">{{propertyNameDisplay}}</span>
    <span class="description" *ngIf="property.description">{{property.description}}</span>
  </div>
  <div class="card-body">
    <app-property-wrapper *ngFor="let childProperty of property.properties | keyvalue" [property]="childProperty.value" [propertyName]="childProperty.key" [schema]="schema" [parentObj]="parentObj[propertyName]"></app-property-wrapper>
  </div>
</div>

<!-- TODO: arrays -->
